.navbar-default{
    background-color: #000000;
    margin-bottom: 0px;
    border:none;
}
.searchbar{
    height:50px;
    margin-top:200px;
    padding:20px;
}
.thing-form {
    margin: 20px 0;
}
.wfull{
    width:100%;
}
.no-padding{
    padding: 0 0 0 0 !important;
}
.padded-row{
    margin-top:10px;
}
.bg{
    position:relative;
    min-height:300px;
    width:100%; 
    background-size:100% auto;
    background-image:url('../../assets/images/zomato.jpg');
    background-repeat:no-repeat;
    background-attachment:local;
    text-align-center;
}
.searchbar{
    position:relative;
    padding-top:5%;
    opacity:0.9;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}