<div ng-include="'components/navbar/navbar.html'"></div>
  <div class="container-fluid bg">
      
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">  
    <div class="row" style="margin-left:5%;margin-top:25%">  
    <div class="col-md-6 no-padding">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-map-marker"></i></div>
        <input type="text" class="form-control" name="location" g-places-autocomplete ng-model="location" placeholder="Location">  
      </div>
    </div>
    <div class="col-md-2 no-padding" >
      <!-- <div class="input-group"> -->
        <select ng-model="category" class="form-control wfull" style="">
              <option value="0">{{model.val1}}</option>
              <option value="1">{{model.val2}}</option>
              <option value="2">{{model.val3}}</option>
        </select>
      <!-- </div> -->
    </div>
    <div class="col-md-2 no-padding">
      <!-- <div class="input-group"> -->
         <select ng-model="ramanathan" class="form-control wfull" style="">
            <option value="0">{{model.val1}}</option>
            <option value="1">{{model.val2}}</option>
            <option value="2">{{model.val3}}</option>
          </select>  
      <!-- </div> -->
    </div>
    <div class="col-md-2 no-padding">
      <!-- <div class="input-group"> -->
        <button type="submit" class="wfull form-control btn btn-primary">Search</button>
      <!-- </div> -->
    </div>
  </div>
</div>
<div class="col-md-2"></div>
 <!--  </div>
/form>-->

      
  </div>  
  </div>
  

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>